h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
    margin-bottom: 0px;
    width: 600px;



}
#content{
    text-align: justify;
    width: 550px;
    border-radius: 15px;
    padding: 25px;
    background: #fafafa;
    box-shadow: 10px 11px 35px -14px rgba(0,0,0,0.54);

}
#catPic{
    width: 200px;
    border-radius: 50%;
    margin: 15px;
    border: 5px dotted #8b603d;
    float: left;
}
#par{

    font-size: 14px;

}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
}
