header{
    background: #8b603d;
    padding: 10px;
}
footer{
    background: #8b603d;
    padding: 10px;
    clear: both;
    font-size: 28px;
}
.clearfix aside ul{
    padding: 10px;
   font-size: 28px;
    position: relative;
    top: -45px;

}
.clearfix aside ul li{
    background: #5bc0de;
    padding: 14px;
    margin: 7px;
    list-style-type: none;
    width: 170px;
    height: 45px;
}
.float-right-content{
font-size: 28px;

}
.float-left{
    float: left;


}