body{
    font-family: OpenSans-ExtraBold,Helvetica ;
    text-align: center;
    font-size: 24px;
    background: #F0F0E8;
}
header h1{
    font-size: 5rem;
    color: #009288;
}
header h2 {
font-size: 1.8rem;
}
header h3{
    color: #868C99;
}
main article{
    width: 300px;
    padding: 10px;
    display: inline-block;
}
main article:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-left: 15px solid #009288;
    cursor: pointer;
}