body{
    font-size: 15px;
    font-family: Tahoma;
    background: #CACACA;
    width: 1400px;
    margin: 0 auto;
}
header nav{
    background: white;
    margin: 0 auto;
}
header nav ul{
    padding: 20px;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6px;
    font-size: 1.2em;

}
header nav ul li a{
    color: #191923;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #8D354D;
}
main div{
    display: inline-block;
    padding: 25px;
    width: 296px;
    margin: 0 auto;
    position: relative;
    left: -13px;
}
main div:hover{
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
main div img{
    width: 346px;
    height: 150px;
    padding: 0px;
    position: relative;
    left: -15px;
}
.pic{
    background: white;
    margin-right: 35px;
    position: relative;
}


