body{
    color:#ffffff;
}
.container{
    text-align: center;
    background: url("../../html.test/img/background-image.jpg") no-repeat center center;
    padding: 15px;
    margin-bottom: 0px;
    background-size:cover;
    height: 800px;

}
.container h1{
    font-size: 80px;
    padding: 80px 0;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.container p{
    font-size: 27px;
    margin: 20px;
}
.btn{
    padding: 15px 45px;
    color: #ffffff;
    background: none;
    border: 5px solid floralwhite;
    border-radius: 15px;
    font-size: 16px;
}
.btn:hover{
    background: #000;
    border-color:#000 ;
    cursor: pointer;
}
body{
    font-family: "Lato",sans-serif;

}